.panellist {
    margin: 0px;
    list-style-type: none;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    padding-left: 2em;
}
.number {
    list-style-type: decimal !important;
}
.nomarg {
    margin: 0px;
}
.padding {
  padding: 5px;
}
/* List styling */
.featureList, .featureList ul {
    margin-top: 0;
    padding-left: 2em;
    list-style-type: none;
  }
  .featureList li:before {
    position: absolute;
    margin-left: -1.3em;
    font-weight: bold;
  }
  .featureList li.tick:before {
    content: "\2713";
    color: darkgreen;
  }
  .featureList li.cross:before {
    content: "\2717";
    color: #35C1FF;
  }
  .vermid {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  .vermiddiv {
    min-height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .profrank {
    margin-right: 10px;
    margin-left: 10px;
  }